@media (max-width: 768px) {
  .left-sidebar {
    display: none;
  }
}

@media (min-width: 888px) {
  .container {
    width: 800px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 870px;
  }
}


.container {
  margin: 90px auto 0;
  padding: 0 15px;
}

.footer {
  padding: 52px 24px;
  text-align: center;
  background: rgb(33, 33, 33);
  color: rgba(255, 255, 255, 0.54);
}
.footer p {
  font-size: 16px;
  margin-bottom: 10px;
}
.footer em {
  color: rgba(255, 255, 255, 0.87);
  font-style: normal;
}
.footer .iconfont {
  color: rgba(255, 255, 255, 0.87);
}

.App-logo {
  animation: App-logo-spin infinite 4s linear;
  height: 40px;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}